@use 'variables' as v;

.aside-links {
  background-color: v.$color_aside;
  // block-size: 100vh;
  // inline-size: 100%;
}

.aside-navigation {
  &__container {
    position: relative;
    block-size: 100%;
  }
  &__menu {
    position: fixed;
    margin-block-start: 50px;
  }
  &__menu-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &::before {
      content: '';
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      border: 1px solid v.$color_aside_border;
      block-size: 100%;
      opacity: 1;
      margin-inline-start: -20px;
    }
  }
  &__menu-item {
    color: v.$color_aside_text;
    padding: 2px 6px;
    transition: color 0.3s ease;
    position: relative;

    &:hover {
      color: v.$color_text;
    }

    &--description {
      color: v.$color_text;
    }

    &.active {
      color: v.$color_text;
    }
  }

  &__indicator {
    position: absolute;
    left: -20px; // Позиция индикатора относительно меню
    width: 3px;
    height: 20px;
    background-color: v.$color_hoverHeader;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    transition: top 0.3s ease; // Плавный переход позиции
    top: 0; // Начальная позиция
  }
}

.main {
  min-inline-size: 0;
}

.guide {
  padding: 0 50px 100px;

  &__section {
    scroll-margin-top: 80px;
  }

  &__block-title {
    margin-block-start: 100px;
    text-align: center;
    position: relative;
    z-index: 1;
    &::before,
    &::after {
      content: '';
      position: absolute;
      inline-size: 40%;
      block-size: 2px;
      background-color: v.$color_description;
      border-radius: 5px;
      z-index: 1;
    }
    &::before {
      inset: -10px auto auto 30%;
    }

    &::after {
      inset: auto auto -10px 30%;
    }
  }

  &__title {
    position: relative;
    font-size: 3rem;
    font-weight: 600;

    @media (max-width: 480px) {
      font-size: 2rem;
    }
  }

  &__description {
    color: v.$color_description;
  }

  &__block-text {
    margin-block-start: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__text {
    line-height: 1.65em;
    color: v.$color_text;

    &-link {
      overflow-wrap: break-word;
      white-space: normal;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 0 50px 10px 50px;
      list-style-type: disc;

      &--numbered {
        // display: block;
        list-style-type: decimal;
      }

      &-item {
        // display: flex;
        margin-block-start: 10px;
        flex-direction: column;
        gap: 10px;
        margin-inline-start: 20px;
      }
    }

    &--margine-top {
      margin-block-start: 50px;
    }
  }

  &__navigation-buttons {
    margin-block-start: 100px;
    display: flex;
    justify-content: space-around;
    position: relative;
    gap: 20px;
    &::before {
      content: '';
      position: absolute;
      inset: -30px 0 0 0; // Отступ сверху для расположения линии над кнопками
      inline-size: 100%;
      block-size: 2px;
      background-color: v.$color_description;
    }
  }
}

.text {
  &-highlight {
    color: v.$color_text_highlight;
  }

  &-underline {
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  &-link {
    cursor: pointer;
    &:hover {
      color: v.$color_text_link-hover;
      transition: color 0.3s ease;
    }
  }

  &-path {
    color: v.$color_aside;
    background-color: v.$color_text_path-background;
    border-radius: 3px;
  }
}

.message-block {
  position: relative;
  margin: 30px 0;
  padding: 40px 35px 35px 35px;
  border-radius: 10px;
  line-height: 24px;

  &__title {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    margin: 5px 5px;
    display: inline-block;
    font-size: 1.17em;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__text {
  }

  &--notice {
    border: 1px solid v.$color_message-box_notice_border;
    background-color: v.$color_message-box_notice_background;
    color: v.$color_message-box_notice_text;
  }

  &--warning {
    border: 1px solid v.$color_message-box_warning_border-and-text;
    background-color: v.$color_message-box_warning_background;
    color: v.$color_message-box_warning_border-and-text;
  }
}

.table-unstyled {
  inline-size: 100%;
  table-layout: fixed; // Фиксированная схема таблицы
  border-collapse: collapse; // Схлопывание границ, опционально
  &__th,
  &__td {
    padding: 12px;
    text-align: center;
    inline-size: 50%;
  }
}

.table-system-specs__td:nth-child(1) {
  text-align: start;
}
.table-system-specs__td:nth-child(2) {
  text-align: end;
}

.table-system-specs {
  &__th,
  &__td {
    padding: 12px;
  }
}

.table {
  border-collapse: separate;
  border-spacing: 10px 20px;
  &__tr {
    // margin-block-end: 10px; // Добавляем отступ между строками таблицы
  }
  &__td {
    // margin: 10px 0;
    &:nth-child(1) {
      text-align: start;
      padding-right: 10px; // Добавляем отступ справа
    }
    &:nth-child(2) {
      text-align: end;
      padding-left: 10px; // Добавляем отступ слева
    }
  }
}

.navigation-button {
  background-color: v.$color_navigation-button;
  border: 1px solid v.$color_aside_border;
  border-radius: 8px;
  inline-size: 300px;
  min-block-size: 70px;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;

  &:hover {
    background-color: v.$color_navigation-button_hover;
  }
  &:hover:active {
    background-color: v.$color_navigation-button_hover_active;
    transform: scale(0.95);
  }

  &__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }
  &__title {
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    color: v.$color_text_highlight;
  }
  &--next {
    text-align: end;
  }
  &--previous {
    text-align: start;
  }
}

.tag {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
  &__name {
    // white-space: nowrap;
  }

  &--cao {
    background-color: v.$color_tag_cao;
  }
  &--classic {
    background-color: v.$color_tag_classic;
  }
  &--creation-kit-resave {
    background-color: v.$color_tag_creation-kit-resave;
  }
  &--esl {
    background-color: v.$color_tag_esl;
  }
  &--bsa {
    background-color: v.$color_tag_bsa;
  }
  &--loot {
    background-color: v.$color_tag_loot;
  }
  &--removal-tool {
    background-color: v.$color_tag_removal-tool;
  }
  &--tool {
    background-color: v.$color_tag_tool;
  }
  &--xedit-qac {
    background-color: v.$color_tag_xedit-qac;
    white-space: nowrap;
  }
  &--zmerge {
    background-color: v.$color_tag_zmerge;
  }
  &--special-instructions {
    background-color: v.$color_tag_special-instructions;
  }
}

.fomod {
  background-color: v.$color_navigation-button;
  transition: background-color 0.3s ease;
  border-radius: 5px;

  &__toggle {
    padding: 10px 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: v.$color_navigation-button_hover;
      border-radius: 5px;
    }

    &.active {
      background-color: v.$color_navigation-button_hover;
      border-radius: 5px;
      border-block-end: 2px solid v.$color_aside;
      border-end-start-radius: 0;
      border-end-end-radius: 0;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    &-wrapper {
      padding: 10px;
    }
  }
}

.slider {
  position: relative;

  &__wrapper {
    overflow: hidden;
    transition: max-height 0.3s ease; // Плавное изменение высоты
  }

  &__slides {
    transition: transform 0.4s ease;
    display: flex;
  }

  &__slide {
    padding: 30px 80px;
    min-width: 100%;
    flex-shrink: 0;
  }

  &__control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 50px;
    block-size: 50px;
    border-radius: 10px;
    background-color: rgba(48, 48, 48, 0.5);
    color: #fff; // Цвет стрелки
    border: none;
    background-color: v.$color_main;
    transition:
      background-color 0.3s ease,
      transform 0.2s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    &:active {
      transform: translateY(-5%);
      transition: transform 0.2s ease;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5; // Можно настраивать
      transform: translateY(5%);
    }

    &::before {
      content: '';
      display: block;
      inline-size: 12px;
      block-size: 12px;
      border: 2px solid currentColor;
      border-width: 0 2px 2px 0;
      padding: 3px;
      transform: rotate(45deg);
      transform-origin: center;
    }
    &--prev {
      left: 10px;

      &::before {
        transform: rotate(135deg); // Переориентация стрелки налево
      }
    }
    &--next {
      right: 10px;

      &::before {
        transform: rotate(-45deg);
      }
    }
  }

  &__page {
    background-color: v.$color_fomod_page;
    border: none;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__page-title {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 10px 10px;
  }

  &__page-section {
    padding: 10px 10px 16px 10px;
    border: none;
    border-radius: 10px;
    background-color: v.$color_fomod_page-section;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__section-title {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 15px 10px;
  }

  &__label {
    margin: 0 0 0 30px;
  }

  &__label-text {
    padding: 0 0 0 15px;
  }
}

@media (max-width: 1280px) {
  .aside-navigation {
    opacity: 0;
    transform: translateX(100%);
    position: fixed;
    display: none;
  }
}

@media (max-width: 1020px) {
  .aside-links {
    opacity: 0;
    transform: translateX(-100%);
    position: fixed;
    display: none;
  }
}

@media (max-width: 768px) {
  .navigation-button {
    inline-size: 200px;
  }
}
