@use '../styles/variables' as v;
@use '../styles/mixins' as m;

.header {
  background-color: v.$color_header; // Замените на нужный цвет
  position: sticky;
  inline-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  backdrop-filter: blur(10px);
  border-block-end: 3px solid v.$color_aside;
  // overflow-x: hidden;
  z-index: 10;
  min-inline-size: 0;

  &--main-page {
    grid-area: none;
  }

  &__container {
    max-inline-size: 1100px;

    &--main-page {
      margin: 0 auto;
    }
  }

  &__wrapper {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    &-list {
      display: flex;
      justify-content: space-between;
    }

    &-link {
      margin-inline-end: 50px;
      transition: color 0.3s ease;

      &:hover {
        color: v.$color_hoverHeader;
      }
    }
  }

  &__burger {
    display: none;
  }

  @media (max-width: 768px) {
    &__burger {
      border: none;
      outline: none;
      position: relative;
      display: block;
      margin-inline-end: 30px;
      inline-size: 30px;
      block-size: 25px;
      background: none;
      z-index: 2;

      &::before,
      &::after,
      &-middle-line {
        position: absolute;
        inline-size: 100%;
        block-size: 3px;
        background-color: white;
        transition: 0.3s;
        border-radius: 5px;
      }

      &::before {
        content: '';
        inset-block-start: 0;
      }

      &.active::before {
        rotate: 45deg;
        inset-block-start: 12px;
      }

      &::after {
        content: '';
        inset-block-end: 0;
      }

      &.active::after {
        rotate: -45deg;
        inset-block-end: 10px;
      }

      &-middle-line {
        inset-block-start: 11px;
      }

      &.active &-middle-line {
        inline-size: 0;
      }
    }

    &__menu {
      position: absolute;
      // inset: 10vh 10vw 0 auto;
      inset-block-start: 10vh;
      inset-inline-end: 5vh;
      opacity: 0;
      transform: translateX(-100%);
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
      background-color: #2b2a2a;
      @include m.box_shadow(2);
      z-index: 12;
      color: white;
      max-inline-size: 250px;
      padding: 10px;
      min-block-size: 100%;
      border-radius: 5%;
      // display: none;

      &-list {
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        inline-size: 100%;
        block-size: 100%;
        gap: 20px;
      }

      &-link {
        margin: 0;
        font-size: 18px;
      }

      &.active {
        display: block;
        position: fixed;
        opacity: 1;
        transform: translateX(0);
        // z-index: 1;
      }
    }
  }
}
