@use "variables" as v;

.aside-right {
  width: 100%; // Занимает 1/4 ширины контейнера
  height: 100%;
  
  background-color: v.$color_greyGuide;

  &__content {
	justify-items: start;
	margin-left: 25px;
  }
}
