.gallery {
	user-drag: none;
  // Контейнер галереи
  &__wrapper {
    overflow: hidden; // Скрываем содержимое, выходящее за границы
    position: relative; // Устанавливаем относительное позиционирование
    width: 800px; // Задайте желаемую ширину галереи
    margin: 0 auto;
  }

  // Трек с изображениями
  &__track {
    display: flex; // Выстраиваем изображения в ряд
    transition: transform 0.5s ease-in-out; // Плавная анимация при перемещении
    cursor: grab; // Изменяем указатель мыши
    // Позиция будет изменяться с помощью transform: translateX()
  }

  &__slide {
    min-width: 100%; // Слайды занимают всю ширину галереи
    box-sizing: border-box;
  }

  // Изображения галереи
  &__image {
    width: 100%; // Устанавливаем ширину изображения (например, 60%)
    margin: 0 auto; // Центрируем изображение
    user-select: none; // Отключаем выделение текста
    pointer-events: none; // Отключаем события мыши на изображении
    display: block;
  }
}
