@use "variables" as v;

.header-guide {
  position: relative;
  color: v.$color_white;

  height: 100%;
  //   border-bottom: 1px solid v.$color_white;
  letter-spacing: 0.04em;

  background-color: v.$color_greyGuide;

  display: flex;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px; // Толщина линии
    background-color: v.$color_fullBlack; // Цвет линии
    position: absolute;
    bottom: 0; // Линия снизу
    left: 0;
    position: absolute;
  }

  &__container {
    width: calc((3 / 5) * 100%); // 3fr из общего 6.5fr
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  &__nav {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__nav-list {
  }

  &__nav-item {
    font-weight: 600;
  }

  &__nav-item-link {
    transition: color 0.3s ease; // Добавляем плавный переход
    &:hover {
      color: v.$color_lightBlue;
    }
  }

  &__nav-list-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
