@use "variables" as v;

.header {
  background-color: #333; // Замените на нужный цвет
  border: 1px solid white;
  position: fixed;
  inline-size: 100%;

  &__container {
    margin: 0 auto;
    max-inline-size: 1100px;
  }

  &__wrapper {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
  }

  &__menu {
    &-list {
      display: flex;
      justify-content: space-between;
    }

    &-link {
      margin-inline-end: 50px;
      transition: color 0.3s ease;

      &:hover {
        color: v.$color_hoverHeader;
      }
    }
  }

  &__burger {
    display: none;
  }

  @media (max-width: 768px) {
    &__burger {
      border: none;
      outline: none;
      position: relative;
      display: block;
      margin-inline-end: 30px;
      inline-size: 30px;
      block-size: 25px;
      background: none;
      z-index: 2;

      &::before,
      &::after,
      &-middle-line {
        position: absolute;
        inline-size: 100%;
        block-size: 3px;
        background-color: white;
        transition: 0.3s;
      }

      &::before {
        content: "";
        inset-block-start: 0;
      }

      &.active::before {
        rotate: 45deg;
        inset-block-start: 12px;
      }

      &::after {
        content: "";
        inset-block-end: 0;
      }

      &.active::after {
        rotate: -45deg;
        inset-block-end: 10px;
      }

      &-middle-line {
        inset-block-start: 11px;
      }

      &.active &-middle-line {
        inline-size: 0;
      }
    }

    &__menu {
      position: fixed;
      inset: 10vh 10vw 0 auto;
      opacity: 0;
      transform: translateX(100%);
      transition: opacity 0.3s ease, transform 0.3s ease;
      background-color: rgb(61, 50, 50);
      z-index: -1;
      color: white;
      max-inline-size: 200px;
      max-block-size: 200px;
      padding: 10px;
      inline-size: auto;
      block-size: auto;

      &-list {
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        inline-size: 100%;
        block-size: 100%;
      }

      &-link {
        margin: 0;
        font-size: 18px;
      }

      &.active {
        opacity: 1;
        transform: translateX(0);
        border-radius: 5%;
        z-index: 1;
      }
    }
  }
}
