.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr; // aside-left занимает 240px, основной контент — оставшееся пространство
  height: 100vh; // Устанавливаем высоту сетки на всю высоту окна
}

.main {
  padding: 20px;
  overflow-y: auto; // Добавляет прокрутку, если контент превышает высоту
}