$color_main: #1b1b1f;
$color_aside: #161618; 
$color_header: rgba(27, 27, 31, 0.5);
$color_headerBorder: #000;
$color_hoverHeader: #9398fd;
$gradient_main_title: linear-gradient(180deg, rgb(229, 221, 221) 0%, rgb(234, 135, 50) 100%);
$color_description: #a9a9a9;
$gradient-button-start: linear-gradient(
        45deg,
        rgb(201, 125, 55) 27%,
        rgb(221, 79, 31) 69%,
        rgb(49, 48, 47) 100%
      );
$gradient-button-youtube: linear-gradient(
        -45deg,
        rgb(204, 62, 58) 27%,
        rgb(221, 31, 31) 69%,
        rgb(49, 48, 47) 100%
      );			
$color_text: #dfdfd6;
$color_message-box_notice_border: #636cff;
$color_message-box_notice_text: #bcc0ea;
$color_message-box_notice_background: #212131;
$color_message-box_warning_border-and-text: #f9b440;
$color_message-box_warning_background: #3c3422;

$color_text_highlight: #9499ff;